<!doctype html>
{% load staticfiles %}
<head>
    <Title>{{ thread.title }} </Title>
</head>
<body>
    <thread>
    <h>{{ thread.title }} {{ thread.number }}<h>
        <table id="contents">
        {% for post in posts %}
            <td>
                {{ post }}
            </td>
        {% endfor %}
        </table>

        <table id="tags">
        {% for tag in tags %}
            <td>
                <a href="{% url 'tag_page' tag_name=tag  %}">{{ tag }}</a>
            </td>
        {% endfor %}
        </table>
        <br>
        
    </thread>
</body>
